{% extends 'layout.html' %}
{%block conteudo%}
<h2 style="text-align: center;">Adicionar serviços</h2>
<hr>

<form action="{{url_for('cria_catalogo')}}" method="POST" class="form-control">
    <label>Cod. Serviço</label>
    <input class="form-control" type="number" name="cod" placeholder="Digite o Nome" required>
    
    <label>Nome</label>
    <input class="form-control" type="text" name="nome" placeholder="Digite o Nome" required>

    <label>Complexidade</label>
    <input class="form-control" type="text" name="complexidade" placeholder="Digite a Complexidade" required>

    <label>Escopo</label>
    <input class="form-control" type="text" name="escopo" placeholder="Digite o escopo" required>
    
    <label>Tempo Limite</label>
    <input class="form-control" type="number" name="tempo" placeholder="Informe o tempo limite" required>

    <label>Entregaveis</label>
    <input class="form-control" type="text" name="entregaveis" placeholder="Digite entregaveis" required>

    <label>Perfil Exigido</label>
    <input class="form-control" type="text" name="perfil" placeholder="Digite o perfil exigido" required>

    <label>Atividades desempenhadas</label>
    <input class="form-control" type="text" name="atividades" placeholder="Digite as atividades desempenhadas" required>
    <button class="btn btn-secondary">Adicionar</button>
</form>


{% endblock conteudo %}